.ribbonBlock {
    height: 18em;
    display: table-cell;
    vertical-align: bottom;
}
.bold {
    font-weight: bold;
}
.ribbonBlock:hover {
    /*font-weight: bold;*/
    color: #699;
}
.ribbonBlockTitleTerm {
    transform: rotate(-45deg);
    text-indent: 10px;
    width: 16px;
    white-space: nowrap;
}
.ribbonTile {
    border: 1px solid black;
    height: 16px;
    margin-right: -1px;
    position: relative;
}
.ribbonTile:hover {
    border: 1px solid #acd;
    z-index: 10;
}
